
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/7B479DBA/sources/s-B0260A7F/lock_file
.Rproj.user/7B479DBA/sources/s-B0260A7F/ECEE30B7-contents
.Rproj.user/7B479DBA/sources/s-B0260A7F/ECEE30B7
.Rproj.user/7B479DBA/sources/s-B0260A7F/E251207D-contents
.Rproj.user/7B479DBA/sources/s-B0260A7F/E251207D
.Rproj.user/7B479DBA/sources/s-B0260A7F/7369ED11-contents
.Rproj.user/7B479DBA/sources/s-B0260A7F/7369ED11
.Rproj.user/7B479DBA/sources/s-B0260A7F/69FD3D70-contents
.Rproj.user/7B479DBA/sources/s-B0260A7F/4E79D4-contents
.Rproj.user/7B479DBA/sources/s-B0260A7F/4E79D4
.Rproj.user/7B479DBA/sources/s-B0260A7F/3148B0C4-contents
.Rproj.user/7B479DBA/sources/s-B0260A7F/3148B0C4
.Rproj.user/7B479DBA/sources/prop/INDEX
.Rproj.user/7B479DBA/sources/prop/E877033F
.Rproj.user/7B479DBA/sources/prop/DA401DB2
.Rproj.user/7B479DBA/sources/prop/D8588DAE
.Rproj.user/7B479DBA/sources/prop/A6AF461B
.Rproj.user/7B479DBA/sources/prop/A5FED113
.Rproj.user/7B479DBA/sources/prop/3BBB34F9
.Rproj.user/7B479DBA/saved_source_markers
.Rproj.user/7B479DBA/rmd-outputs
.Rproj.user/7B479DBA/persistent-state
.Rproj.user/7B479DBA/pcs/workbench-pane.pper
.Rproj.user/7B479DBA/pcs/windowlayoutstate.pper
.Rproj.user/7B479DBA/pcs/source-pane.pper
.Rproj.user/7B479DBA/pcs/files-pane.pper
.Rproj.user/7B479DBA/cpp-definition-cache
